<div class="products-grid">
  @if(productStoreItem.products().length === 0) {
    <p class="no-products-message">No products found.</p>
  }
  @for (product of productStoreItem.products(); track product.id) {
    <div class="product-card">
      <div class="product-image-box">
        @defer(on viewport){
          <a routerLink="/home/product/{{product.id}}">
        <img
          class="product-image"
          [src]="'Assets/images/' + product.product_img"
          [alt]="product.product_name"
        >
        </a>
      } @placeholder {
        <p>loading products</p>
      }

      </div>
      <div class="product-info">
        <a routerLink="/home/product/{{product.id}}">
        <h5 class="product-title">
          <a href="">{{ product.product_name }}</a>
        </h5>
        </a>
        <p class="product-price">{{ product.price | currency }}</p>
      </div>
    </div>
  }
</div>