.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
  width: 100%;
}

.product-card {
  background-color: #f1f3f5;
  border: 1px solid #d8dde3;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-image-box {
  width: 100%;
  height: 420px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.product-info {
  text-align: center;
  padding: 18px 16px 22px;
}
.product-info a{
text-decoration: none;
}

.product-title {
  margin: 0 0 8px;
  font-size: 1.9rem;
  font-weight: 700;
}

.product-title a {
  text-decoration: none;
  color: #111;
}

.product-price {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 500;
  color: #222;
}

@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-image-box {
    height: 360px;
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-image-box {
    height: 320px;
  }
}
.no-products-message{
  font-size: 40px;
  text-align: center;
  color: red;
  font-weight: bolder;

}